<% content_for :stylesheets do %>
<link href="/assets/stylesheets/bootstrap-slider.css" rel="stylesheet">
<% end %>

<%= render :partial => :header %>
<%= render :partial => :navbar %>

<div class="body container">
  <h1>ISC Diffs - "<%= @task[:title] %>"</h1>
  <hr>
  <input id="slider" style="width: 300px" type="text" value="" data-slider-min="<%= @releases.first[:num]+2 %>" data-slider-max="<%= @releases.last[:num]+1 %>" data-slider-step="1" data-slider-value="<%= @releases.last[:num]+1 %>" data-slider-selection="after" />
  <hr>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6" id="left-container">
      <h3 id="left-title"></h3>
      <div id="left-note"></div>
      <hr>
      <pre><code id="left-text"></code></pre>
    </div>

    <div class="col-xs-6" id="right-container">
      <h3 id="right-title"></h3>
      <div id="right-note"></div>
      <hr>
      <pre><code id="right-text"></code></pre>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script src="/assets/javascripts/bootstrap-slider.js"></script>
<script type="text/javascript" src="/google-diff/diff_match_patch.js"></script>
<script>
  window.releases = <%= @releases.to_json %>;
  window.right_num = <%= @releases.last[:num] %>;
  window.left_num = right_num - 1;

  var update_view = function() {
    var left_timestamp = moment.unix(releases[left_num].created_at).format("HH:mm:ss Z");
    $("#left-title").text('Version #' + (left_num+1) + ' (' + left_timestamp + ')');
    $("#left-note").html('<b>Release note:</b> ' + releases[left_num].note);

    var right_timestamp = moment.unix(releases[right_num].created_at).format("HH:mm:ss Z");
    $("#right-title").text('Version #' + (right_num+1) + ' (' + right_timestamp + ')');
    $("#right-note").html('<b>Release note:</b> ' + releases[right_num].note);

    var diff = new diff_match_patch();
    var diff_tuples = diff.diff_main(releases[left_num].text, releases[right_num].text);
    diff.diff_cleanupEfficiency(diff_tuples);

    var diffed_left = "";
    var diffed_right = "";
    for (var idx = 0; idx < diff_tuples.length; idx++) {
      var tuple = diff_tuples[idx];
      if (tuple[0] == 0) {
        // no change
        diffed_left += tuple[1];
        diffed_right += tuple[1];
      }
      else if (tuple[0] == 1) {
        // added
        lines = tuple[1].split("\n");
        for (var l = 0; l < lines.length; l++) {
          var line = lines[l];
          lines[l] = '<span style="background: #a0ffa0;">' + line + '</span>';
        }
        diffed_right += lines.join("\n");
      }
      else if (tuple[0] == -1) {
        // deleted
        lines = tuple[1].split("\n");
        for (var l = 0; l < lines.length; l++) {
          var line = lines[l];
          lines[l] = '<span style="background: #ffd3e0;">' + line + '</span>';
        }
        diffed_left += lines.join("\n");
      }
    }
    $("#left-text").html(diffed_left);
    $("#right-text").html(diffed_right);
  }
  update_view();

  $("#slider").slider()
    .on("slide", function(ev){
      window.right_num = ev.value-1;
      window.left_num = right_num - 1;
      update_view();
    });
</script>
<% end %>

<%= render :partial => :footer %>
